
.Panel {
  width: 100%;
  height: 100%;
  padding: .5rem;
}

.PanelBackground {
  background-color: var(--background-color);
  backdrop-filter: blur(32px) brightness(0.75) saturate(1);
  /* backdrop-filter: blur(32px) brightness(.9) saturate(.9); */
  pointer-events: none;
}

.Separator {
  padding: .5rem 0;
}