
.Field {
  font-size: var(--font-size-small);

  display: flex;
  flex-direction: row;
  gap: .25em;
}

.Field input {
  background-color: #fff2;
  padding: 0 .25em;
  border-radius: .125em;
  transition: background-color .1s ease-in-out;
}

.Field.dragging input,
.Field input:focus {
  background-color: #fff6;
}

.NumberField label {
  cursor: ew-resize;
}



.InlineInput {
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: row;
  gap: .25em;
  height: 18px;
}

.InlineInput + .InlineInput {
  margin-top: 2px;
}

.InlineInput > .MainLabel {
  flex: 1;
}

.InlineInput > div {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: .25em;
  overflow: hidden;
  white-space: nowrap;
}

.AtomicInput {
  flex: 1;
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: row;
  gap: .125em;
  overflow: hidden;
}

.AtomicInput > label {
  flex: 0 0 auto;
  padding: 0 .125em;
  border-radius: .15em;
}

.AtomicInput > label.draggable {
  cursor: ew-resize;
}

.AtomicInput > label.draggable:hover {
  background-color: #fff1;
}

.AtomicInput > div {
  flex: 1;
}

.AtomicInput > div > * {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff1;
  border-radius: 2px;
  border: 1px solid transparent;
}

.AtomicInput > div > input {
  padding: 0 .25em;
}

.AtomicInput > div > select {
  outline: none;
}

.AtomicInput:hover > div > * {
  background-color: #fff2;
  border-color: #fff4;
}

.AtomicInput.focus > div > * {
  background-color: #fff4;
  border-color: #fff6;
}

.AtomicInput.dragging > label.draggable {
  background-color: #fff4;
}

.AtomicInput.multiple:not(.focus) > div::before {
  content: 'multiple';
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 .25em;
  font-style: italic;
  font-size: .75em;
  opacity: .5;
  pointer-events: none;
}

.AtomicInput.multiple > label {
  pointer-events: none;
  font-style: italic;
  opacity: .5;
}

.WhileDragging {
  position: fixed;
  z-index: 1000;
  inset: 0;
  cursor: ew-resize;
}





/* >----------------> */
/* >---- SLIDER ----> */
/* >----------------> */

.AtomicInput .Slider {
  border: none; /* reset, no border for sliders */
}

.AtomicInput .Slider input {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
}

.AtomicInput.focus > div > * {
  background-color: #fff2;
}


.AtomicInput .Slider .ProgressBar {
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  background-color: #fff3;
  border-radius: 1px 0 0 1px;
}

.AtomicInput:hover .Slider .ProgressBar {
  background-color: #fff4;
}

.AtomicInput.focus .Slider .ProgressBar {
  background-color: #fff6;
}



.AtomicInput .Slider .ThinBar {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #fff9;
}

.AtomicInput:hover .Slider .ThinBar {
  background-color: #fffc;
}

.AtomicInput.focus .Slider .ThinBar {
  background-color: #ffff;
}



.AtomicInput .Slider .OvershootLowerBar,
.AtomicInput .Slider .OvershootUpperBar {
  position: absolute;
  top: 0;
  width: 2em;
  height: 100%;
  --linear-gradient-stops: #ffffff88, #ffffff5b, #ffffff39, #ffffff21, #ffffff11, #ffffff07, #ffffff02, #ffffff00, #ffffff00;
}

.AtomicInput .Slider .OvershootLowerBar.hidden,
.AtomicInput .Slider .OvershootUpperBar.hidden {
  display: none;
}

.AtomicInput .Slider .OvershootLowerBar {
  left: 0;
  background-image: linear-gradient(90deg, var(--linear-gradient-stops));
}

.AtomicInput .Slider .OvershootUpperBar {
  right: 0;
  background-image: linear-gradient(-90deg, var(--linear-gradient-stops));
}

/* <---- SLIDER ----< */

